# Ignore all goal images
**/goal.png
**/goal1.png
**/goal2.png

# Ignore all solution files
**/solution.html
**/solution1.html
**/solution2.html
**/solution.css

# Ignore solution folders (any case)
**/solution/
**/Solution/

# Misc
.dist/